.main-wrapper {
	background: #faf7f7;
	height: 100vh;
	overflow-y: auto;
	padding: 32rpx;
	padding-bottom: 166rpx;
}

.header {
	width: 686rpx;
	background: #fff;
	border-radius: 8rpx;
	margin-bottom: 32rpx;
	display: flex;
	padding: 0 32rpx;
	justify-content: flex-start;
	min-height: 104rpx;
}

.address-icon {
	width: 38rpx;
	height: 38rpx;
	margin-right: 15rpx;
	margin-top: 32rpx;
}

.address-tip {
	color: #272727;
	font-size: 28rpx;
	align-self: center;
}

.address-detail {
	padding: 32rpx 22rpx 32rpx 0rpx;
}

.address-detail-info {
	display: flex;
	align-items: center;
}

.address-detail-name {
	font-size: 32rpx;
	color: #272727;
	margin-right: 16rpx;
	max-width: 320rpx;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.address-detail-phone {
	font-size: 26rpx;
	color: #272727;
}

.address-detail-add {
	font-size: 24rpx;
	color: #807b7b;
	margin-top: 12rpx;
	max-width: 500rpx;
}

.address-arrow {
	width: 40rpx;
	height: 40rpx;
	margin-left: auto;
	align-self: center;
}

.section {
	width: 686rpx;
	background: #fff;
	border-radius: 8rpx;
	padding: 32rpx 32rpx 24rpx;
}

.section-title {
	color: #272727;
	font-size: 32rpx;
	font-weight: 500;
	padding-bottom: 40rpx;
}
.hint {
	margin-bottom: 40rpx;
	font-size: 24rpx;
	font-weight: 400;
	color: #a7002d;
	padding-left: 34rpx;
	position: relative;
}
.hint::before {
	content: "!";
	position: absolute;
	width: 22rpx;
	height: 22rpx;
	line-height: 22rpx;
	border-radius: 50%;
	padding: 2rpx;
	text-align: center;
	background: #a7002d;
	color: #fff;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.section-list .line {
	width: 100%;
	height: 1px;
	background: #e4e4e4;
	margin: 40rpx 0;
}
.section-list {
	margin-bottom: 25rpx;
}
.section-list:last-child .line {
	display: none;
}
.section-detail {
	display: flex;
	margin-bottom: 25rpx;
}

.section-detail-image {
	width: 130rpx;
	height: 130rpx;
	margin-right: 32rpx;
	border-radius: 8rpx;
}

.section-detail-center {
	flex: 1;
	margin-right: 32rpx;
}

.section-detail-title {
	color: #272727;
	font-size: 28rpx;
	max-height: 80rpx;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	margin-bottom: 12rpx;
}

.section-detail-type {
	border-radius: 4rpx;
	color: #807b7b;
	font-size: 22rpx;
	margin-right: 10rpx;
	display: inline-block;
}
.section-detail-type .txt {
	padding: 2rpx 8rpx;
	background: #fafafa;
}
.section-detail-amount {
	color: #272727;
	font-size: 24rpx;
	font-family: OPPOSans-H, OPPOSans;
	font-weight: 500;
	text-align: right;
	line-height: 32rpx;
}

.section-detail-num {
	text-align: right;
	color: #807b7b;
	font-size: 28rpx;
}

.section-detail-promotion {
	text-align: right;
}

.section-detail-promotion image {
	height: 24rpx;
	/* margin-top: 26rpx; */
	width: 0;
}

.section-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* height: 90rpx; */
	color: #272727;
	font-size: 28rpx;
	padding: 25rpx 0;
}

.section-num-controller-left,
.section-num-controller-right,
.section-num-controller-center {
	height: 40rpx;
	text-align: center;
	display: inline-block;
	line-height: 40rpx;
	color: #ccc9c9;
	font-size: 22rpx;
}

.section-num-controller-left,
.section-num-controller-right {
	border: 1px solid #e4e2e2;
	width: 40rpx;
	height: 40rpx;
}

.section-num-controller-center {
	border-top: 1px solid #e4e2e2;
	border-bottom: 1px solid #e4e2e2;
	color: #272727;
	font-size: 20rpx;
	min-width: 40rpx;
	padding: 0 8rpx;
}

.section-coupon .section-item-coupon-amount {
	color: #a7002d;
	font-size: 28rpx;
	margin-right: 16rpx;
}

.section-coupon .section-item-coupon-arrow {
	width: 15rpx;
	height: 22rpx;
}
._line {
	margin: 25rpx 0;
	height: 1px;
	background-color: #e4e2e2;
	transform: scale(1, 0.5);
}

.section-coupon .section-item-right,
.section-remark .section-item-right {
	display: flex;
	align-items: center;
}

.section-remark .section-item-remark-detail {
	color: #272727;
	font-size: 28rpx;
	margin-right: 16rpx;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 450rpx;
}

.section-remark .section-item-remark-arrow {
	width: 15rpx;
	height: 22rpx;
}

.section-total .section-total-amount {
	font-family: OPPOSans-H, OPPOSans;
	font-size: 28rpx;
	color: #a7002d;
	font-weight: 500;
}

.section-vip-money .section-item-title {
	display: flex;
	align-items: center;
}

.section-item-title-vip {
	width: 38rpx;
	height: 38rpx;
	margin-right: 12rpx;
}

.section-item-title-vip image {
	width: 100%;
	height: 100%;
}

.bottom {
	width: 100%;
	/* height: 166rpx; */
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	padding: 16rpx 32rpx 16rpx;
	justify-content: space-between;
}
.bottom.ipx {
	padding-bottom: 48rpx;
	/* #ifdef H5 */
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
	/* #endif */
}

.bottom.line::after {
	top: 0;
	bottom: none;
}

.bottom-detail {
	font-size: 24rpx;
	color: #272727;
	padding-top: 20rpx;
}

.bottom-detail-amount {
	font-size: 20rpx;
	color: #a7002d;
	font-weight: 500;
	margin-left: 10rpx;
}

.bottom-detail-amount-bigger {
	font-size: 30rpx;
}
.integra {
	font-size: 34rpx;
	margin-right: 4rpx;
}
.bottom-btn {
	width: 208rpx;
	height: 80rpx;
	background: #a7002d;
	border-radius: 40rpx;
	color: #fff;
	line-height: 80rpx;
	text-align: center;
}
.bottom-btn.gray {
	background: #c9c9c9;
}

.modal-textarea {
	background: #fafafa;
	width: 686rpx;
	padding: 32rpx;
	border-radius: 8rpx;
	box-sizing: border-box;
	color: #272727;
	font-size: 28rpx;
}

.modal-pop-title {
	color: #272727;
	font-size: 32rpx;
	padding: 50rpx 0;
	font-weight: 500;
}

.modal-list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24rpx;
}

.modal-list-item-left,
.modal-list-item-amount {
	color: #272727;
	font-size: 28rpx;
	height: 90rpx;
	line-height: 90rpx;
}

.modal-list-item-amount {
	margin-left: auto;
	margin-right: 24rpx;
}

.modal-list-item-right {
	width: 30rpx;
	height: 30rpx;
	border: 1px solid #807b7b;
	border-radius: 15rpx;
}

.modal-list-item-right-active {
	border: none;
}

.modal-list-item-right-active image {
	width: 100%;
	height: 100%;
}

.modal-list-item-right-disable {
	background: #e4e2e2;
	border: 1px solid #807b7b;
}

.modal-list {
	max-height: 50vh;
}

/deep/ ._wrap {
	width: calc(100vw - 64rpx);
}
/deep/ .modal-pop-title {
	padding-bottom: 32rpx;
}
