.pay{
    background: #FAF7F7;
    min-height: 100vh;
    padding: 32rpx;
    .title{
        font-size: 36rpx;
        font-weight: bold;
        line-height: 36rpx;
        padding: 32rpx;
        border-radius: 16rpx;
        margin-bottom: 32rpx;
        background: #fff;
        .txt,.money{
            height: 80rpx;
        }
        .order-sn {
            font-size: 28rpx;
            color: #272727;
            height: 80rpx;
            font-weight: normal;
        }
        
    }
    .pay-type{
        padding: 32rpx;
        border-radius: 32rpx;
        border-radius: 16rpx;
        background: #fff;
        margin-bottom: 32rpx;
        .tit{
            font-size: 36rpx;
            font-weight: bold;
            line-height: 36rpx;
            margin-bottom: 32rpx;
        }
        .list{
           .item{
            height: 80rpx;
            font-size: 28rpx;
            color: #272727;
            .img{
                width: 40rpx;
                height: 40rpx;
                margin-right: 10rpx;
            }
            .checkbox {
                width: 30rpx;
                height: 30rpx;
                border: 1px solid #807b7b;
                border-radius: 50%;
                margin-right: 32rpx;
                &.act{
                    border: 0;
                    background: #a7002d;
                }

              }
           }
        }
    }
    .pay-btn{
        height: 80rpx;
        border-radius: 16rpx;
        background: #a7002d;
        color: #fff;
        font-size: 28rpx;
    }
}