.tab-container {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 104rpx;
  background-color: #fff;
  z-index: 5;
}
.tab-item {
  flex: 1;
  font-size: 32rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  text-align: center;
  color: #CCC9C9;
}
.black-text-color {
  color: #272727;
}
.wscnph {
  width: 100% !important;
}
/* #ifdef H5 */
/deep/ .wscnph {
  width: 100% !important;
}
/* #endif */
scroll-view {
  max-height: 50vh;
}
.goods-detail {
  min-height: 100vh;
  padding-bottom: 166rpx;
  background: #F6F6F6;
}
.context-container {
  padding-bottom: 0;
}
.basic-detail-container {
  margin: 24rpx;
  background: #FFFFFF;
  border-radius: 16rpx;
  padding: 24rpx 24rpx 32rpx;
}
.common-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-unit {
  font-size: 32rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #A7002D;
}
.price-number {
  font-size: 52rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #A7002D;
}
.price-onsale {
  font-size: 30rpx;
  font-family: OPPOSans-M, OPPOSans;
  font-weight: normal;
  color: #ccc9c9;
  padding-left: 16rpx;
  text-decoration: line-through;
}
.market-price {
  font-size: 32rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #272727;
}
.newvip-icon {
  width: 69rpx;
  height: 36rpx;
  margin-left: 5rpx;
  margin-right: 16rpx;
}
.new-customer-icon {
  width: 94rpx;
  height: 28rpx;
  margin-left: 10rpx;
}
.buy-user {
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #808080;
}
.count-empty {
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ccc9c9;
}
.common-label {
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #808080;
  padding-right: 40rpx;
  min-width: 56rpx;
}
.common-text-style {
  flex: 1;
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #272727;
}
.property-name:not(:last-child):after {
  content: '、';
}
.gift-name:not(:nth-last-of-type(2)):after {
  content: '；';
}
.detail-property-container {
  background: #FFFFFF;
  border-radius: 16rpx;
  margin: 24rpx;
  padding: 32rpx 24rpx;
}
.detail-property-container .common-row:not(:first-child) {
  margin-top: 40rpx;
}
.row-one {
  margin-bottom: 16rpx;
}
.right-arrow {
  height: 22rpx;
  width: 15rpx;
  padding-left: 16rpx;
}
.flex-aic {
  flex: 1;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.row-three {
  flex: 1;
}
.row-two {
  margin-top: 40rpx;
}
.wine-name {
  font-size: 32rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #272727;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.share {
  display: flex;
  flex-direction: column;
  min-width: 162rpx;
  text-align: right;
}
.share .share-icon {
  font-size: 0;
}
.share-icon-image {
  width: 36rpx;
  height: 36rpx;
}
.share .share-text {
  padding-top: 10rpx;
  font-size: 20rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #272727;
}
.row-four {
  display: flex;
  justify-content: left !important;
}
.traffic-type {
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  padding: 0 16rpx 0 0;
  color: #272727;
}
.traffic-time {
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #272727;
}
.detail-text {
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #272727;
  padding: 24rpx 0;
  text-align: center;
}
.detail-title-text {
  padding: 0 32rpx;
}
.detail-icon {
  width: 55rpx;
  height: 14rpx;
}
.detail-property-contanier {
  border-radius: 8rpx;
  border: 1px solid #fafafa;
  margin: 0 24rpx;
}
.property {
  display: flex;
  padding: 32rpx 0;
}
.property:last-child {
  border-bottom: 0;
}
.property:last-child:after {
  height: 0;
}
.property .label {
  display: flex;
  align-items: center;
  width: 166rpx;
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #808080;
  flex-shrink: 0;
}
.property .label .label-name {
  width: 100%;
}
.property .value {
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #272727;
  padding-left: 32rpx;
  align-self: center;
  word-break: break-all;
}
.context-image image {
  width: 100%;
  display: block;
}
.context-image >>> image {
  vertical-align: bottom;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  z-index: 10;
  border-radius: 24rpx;
  width: 240rpx;
  height: 240rpx;
  background: #000000;
  border-radius: 8px;
  opacity: 0.7;
  margin-left: -120rpx;
  margin-top: -120rpx;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 0;
}
.modal-img {
  height: 45rpx;
  width: 66rpx;
}
.modal-text {
  padding: 25rpx;
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
}
.line-lighter {
  position: relative;
}
.line-lighter:before {
  position: absolute;
  content: '';
  width: 100%;
  left: 0;
  top: 0;
  height: 1px;
  background-color: #e4e2e2;
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.property-line-sm {
  position: relative;
}
.property-line-sm:after {
  content: '';
  position: absolute;
  border: 1px solid #e4e2e2;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  transform: scale(0.5);
}
.price-container {
  flex: 1;
}
.team-container {
  margin: 0 24rpx;
  padding: 0 24rpx;
  background: #fff;
  border-radius: 16rpx;
}
.vip-price {
  display: flex;
  align-items: center;
  font-size: 28rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #272727;
  margin: 0 32rpx 34rpx;
}
.vip-container {
  padding-left: 8rpx;
  font-size: 0;
}
.home-vip-icon {
  width: 63rpx;
  height: 24rpx;
}
.home-vvip-icon {
  width: 106rpx;
  height: 24rpx;
}
.pd6 {
  margin-bottom: 6rpx;
}
.comment-container {
  padding: 32rpx 0 0;
  margin: 24rpx 24rpx 0;
  background: #FFFFFF;
  border-radius: 16rpx;
  padding: 32rpx 24rpx 0;
}
.comment-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-empty {
  padding-bottom: 38rpx;
}
.comment-title .left {
  font-size: 32rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #272727;

}
.comment-title .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #A7002D;
}
.comment-right-arrow {
  width: 15rpx;
  height: 22rpx;
  margin-left: 16rpx;
}
.comment-list {
  margin-top: 32rpx;
}
.detail-score-container {
  margin: 24rpx 24rpx 0;
  padding: 32rpx 24rpx;
  background: #FFFFFF;
  border-radius: 16rpx;
}
.famous-member-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.famous-member-basicinfo {
  display: flex;
  align-items: center;
}
.famous-member-avatar {
  height: 98rpx;
  width: 98rpx;
  margin-right: 32rpx;
}
.famous-member-name {
  font-size: 42rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #272727;
}
.famous-member-name .second-name {
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #272727;
}
.famous-member-name .first-name {
  line-height: 58rpx;
}
.comment-score {
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #A7002D;
}
.comment-score .score-number {
  font-size: 62rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #A7002D;
  line-height: 62rpx;
}
.comment-context {
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #272727;
  line-height: 40rpx;
  padding-top: 32rpx;
}
.property-modal-title {
  font-size: 32rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #272727;
  padding-bottom: 24rpx;
  padding-top: 22rpx;
}
.goods-detail-page>>>._wrap  {
  padding-top: 32rpx;
}
.promotion-common-row {
	display: flex;
	justify-content: space-between;
}
.promotion-flex-aic {
	display: flex;
	flex: 1;
}
.promotion-types {
	flex: 1;
	min-width: 0;
}
.mt32 {
	margin-top: 32rpx;
}
.gift-tag {
	background: #FCEDEB;
	border-radius: 5rpx;
	font-size: 24rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #A7002D;
	text-align: center;
	margin-right: 16rpx;
	padding: 5rpx 10rpx;
}
.gift-modal-title {
	font-size: 32rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #808080;
	padding-top: 22rpx;
}
.gift-tag-container {
	margin-top: 32rpx;
	min-width: 68rpx;
}
.gift-tag-container .mini-width {
	min-width: 68rpx;
}
.gift-modal-context {
	display: flex;
	padding-top: 24rpx;
}
.gift-main-context {
	flex: 1;
	min-width: 0;
}
.gift-list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 32rpx;
}
.gift-basic-info {
	flex: 1;
}
.gift-basic-text {
	font-size: 28rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #272727;
}
.gift-notice {
	font-size: 28rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #808080;
}
.gift-footer-notice {
	font-size: 28rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #CCCCCC;
	text-align: left;
	padding: 32rpx 0;
	padding-left: 84rpx;
}
.gift-main-context .gift-arrow {
	width: 15rpx;
	height: 22rpx;
}
.integration-tips {
	font-size: 28rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #808080;
}

::v-deep .integral-modal-container .bor { display: none; }
.integral-modal-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.integral-header {
	font-size: 32rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #272727;
}
.integral-content {
	font-size: 28rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #808080;
	margin-top: 32rpx;
	text-align: center;
}
.integral-footr-btn {
	display: flex;
	margin-top: 90rpx;
}
.integral-btn-left {
	width: 331rpx;
	height: 80rpx;
	line-height: 80rpx;
	text-align: center;
	border-radius: 40rpx;
	border: 1px solid #808080;
	font-size: 32rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #808080;
	background: #ffffff;
}
.integral-btn-right {
	width: 331rpx;
	height: 80rpx;
	margin-left: 32rpx;
	line-height: 80rpx;
	text-align: center;
	border-radius: 40rpx;
	font-size: 32rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #ffffff;
	background: #a7002d;
}
