.account-management{
    background: #FAF7F7;
    min-height: 100vh;
    padding: 32rpx;
    .list{
        padding: 32rpx;
        background: #fff;
        border-radius: 16rpx;
        .item{
            height: 80rpx;
            border-bottom: 1px solid #e4e2e2;
            color: #272727;
            &:last-child{
                border-bottom: 0;
            }
        }
    }
}