.my-car{
  background: #FAF7F7;
  min-height: 100vh;
  padding: 32rpx;
}

.bottom {
	width: 100%;
	/* height: 166rpx; */
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	padding: 16rpx 32rpx 16rpx;
	justify-content: space-between;
}
.bottom.ipx {
	padding-bottom: 48rpx;
	/* #ifdef H5 */
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
	/* #endif */
}

.bottom.line::after {
	top: 0;
	bottom: none;
}

.bottom-detail {
	font-size: 24rpx;
	color: #272727;
	padding-top: 20rpx;
}

.bottom-detail-amount {
	font-size: 20rpx;
	color: #a7002d;
	font-weight: 500;
	margin-left: 10rpx;
}

.bottom-detail-amount-bigger {
	font-size: 30rpx;
}
.integra {
	font-size: 34rpx;
	margin-right: 4rpx;
}
.bottom-btn {
	width: 208rpx;
	height: 80rpx;
	background: #a7002d;
	border-radius: 40rpx;
	color: #fff;
	line-height: 80rpx;
	text-align: center;
}
.bottom-btn.gray {
	background: #c9c9c9;
}