.cates {
    width: 100%;
    height: calc(100vh - 100rpx);
    display: flex;
  }
  .cates .cates_left {
    flex: 2;
  }
  .cates .cates_left view {
    height: 90rpx;
    line-height: 90rpx;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    border-left: 3px solid transparent;
  }
  .cates .cates_left view.active {
    background-color: #fff;
    border-left: 3px solid var(--themeColor);
  }
  .cates .cates_right {
    flex: 5;
  }
  .cates_right_area{
  display: flex;
  flex-direction: column;
  height: 480rpx;
  padding: 10rpx;
  }
  /* .cates .cates_right .banner {
    padding: 20rpx;
    padding-top: 0rpx;
  } */
  .cates .cates_right .banner image {
    width: 100%;
    height: 180rpx;
  }
  .cates .cates_right .list .title {
    height: 60rpx;
    line-height: 60rpx;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .cates .cates_right .list .title .line {
    color: #dcdcdc;
  }
  .cates .cate-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .cates .cate-info text.cate-price{
    color:#ec0d0d;
    
  }
  .cates .cate-info text.cate-sale{
    flex: 1;
    padding-left: 20rpx;
  }
  .cates .cate-info .add-cate {
    background:#ec0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    border-radius: 10rpx;
    flex: 1;
    
  }
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
  }
  