.search-result {
    background: #FAF7F7;
    min-height: 100vh;
    padding: 32rpx;

    .filter {
        font-size: 24rpx;
        color: #808080;
        height: 100rpx;
    }

    .filter .price {
        margin-right: 130rpx;

    }

    .filter .txt {
        height: 100rpx;
        padding: 0 10rpx;
    }

    .filter .price .icon {
        margin-left: 8rpx;
        transform: rotate(180deg);
    }

    .filter .price .icon.act,
    .filter .price .icon.stop {
        transform: rotate(0);
    }


    .filter .price .ic {
        width: 16rpx;
        height: 10rpx;
        position: static;
    }

    .filter .price .ic.gray {
        transform: rotate(180deg);
        margin-bottom: 2rpx;
    }

    .filter .txt.act {
        color: #A7002D;
        font-weight: bold;

    }

    .empt {
        padding-top: 220rpx;
    }

    .empt.pad-top {
        padding-top: 144rpx;
    }

    .empt ._img {
        width: 158rpx;
        height: 158rpx;
        margin-bottom: 32rpx;
    }

    .empt .txt {
        font-size: 32rpx;
        font-weight: 400;
        color: #272727;
    }

    .end {
        font-size: 24rpx;
        font-weight: 400;
        color: #CCCCCC;
        padding-bottom: 20rpx;
    }
}