
.userInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D92417;
    height: 160rpx;
}
.left{
  display: flex;
  padding-left: 20rpx;
}
.sub_left{
  padding-left: 20rpx;
}
.left text{
  text-align: center;
  color: #fff;
}
.add-money{
  margin-top: 20rpx;
  border: solid 1px #fff;
  border-radius: 24rpx;
  padding: 5rpx 20rpx;
}
.right{
  padding-right: 20rpx;
}
.right text{
  color: #fff;
}

.left image {
    width: 96rpx;
    height: 96rpx;
    border-radius: 48rpx;
    overflow: hidden;
  }
.uni-margin-wrap{
  padding: 20rpx;
  
}
  swiper {
    width: 100%;
    height: 374rpx;
   
   
  }
  swiper image {
    width: 100%;
    height: 374rpx;
    border-radius: 10rpx;
   
  }
  .nav {
    display: flex;
    padding: 10rpx 20rpx;
    flex-wrap: nowrap;
    align-items: center;
  }
  .nav .menus-item {
    width: 175rpx;
    height: 175rpx;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  } 
  .nav image {
    width: 60rpx;
    height: 60rpx;
  }
  .nav text {
    margin-top: 20rpx;
  }
  .advertisement-container {
   /* margin-top: 24rpx; */
    padding: 10rpx 20rpx;
  }
  .advertisement-img {
    width: 100%;
    height: 154rpx;
    border-radius: 15rpx;
    vertical-align: bottom;
    margin-bottom: 24rpx;
  }

  .mine-address{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0rpx 20rpx;
      height: 100rpx;
      background-color: #e6d48c;
      border-radius: 10rpx;

  }
  .mine-address text{
    padding: 0 20rpx;
  }
  .address_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rpx 20rpx;
    height: 100rpx;
   
  }
  .address_info text{
    padding: 0 20rpx;
  }
  .info-service{
    background: #fed8d9;
    width: 600rpx;
    height:100rpx;
    margin: 0 auto;
    padding: 10rpx 10rpx;
  
  }
  .info-service text{
    
      font-size: 12px;
  }

  .customer-service{
      padding: 20rpx 60rpx;
  }
  .customer-service button{
    border-radius: 10rpx;
  }